<!DOCTYPE html>
<html>
<head>
    <title>Question Form</title>
</head>
<body>
    <h1>Question Form</h1>
    <form method="POST">
        <label for="question1">Question 1:</label>
        <input type="text" id="question1" name="question1" required><br><br>
        
        <label for="question2">Question 2:</label>
        <input type="text" id="question2" name="question2" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
    
    {% if answer %}
        <h2>Answer:</h2>
        <p>{{ answer }}</p>
    {% endif %}
</body>
</html>
